<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
    <title>Task</title>
</head>
<body>

<h3>Task description:</h3>
<table>
    <tr>
        <td><label>Task name:</label></td>
        <td th:text="${task.getName()}"/>
    </tr>
    <tr>
        <td><label>Status:</label></td>
        <td th:text="${task.getStatus()}"/>
    </tr>
</table>

<h3>Do task</h3>
<form th:object="${task}" method="POST" th:action="'/taskLists/'+${currentTaskListId}+'/task/' + ${task.getId()}" >
    <input type="submit" value="do task">
</form>

</body>
</html>
